workflow_engine/flows/Dataset_Generator___Google_Drive.json
{
  "name": "Dataset Generator - Google Drive",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        240
      ],
      "id": "7e53305d-d129-4964-93fa-f388adeb6e87",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0fe9bf6a-b341-4998-b298-41ed0aa8c118",
        "responseMode": "lastNode",
        "responseData": "noData",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -48,
        0
      ],
      "id": "7a2d1c85-eb40-4163-9904-f23c61fb76d8",
      "name": "Webhook",
      "webhookId": "0fe9bf6a-b341-4998-b298-41ed0aa8c118"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 1,
        "filter": {
          "whatToSearch": "files",
          "fileTypes": [
            "application/vnd.google-apps.document"
          ]
        },
        "options": {
          "fields": [
            "mimeType",
            "id",
            "webViewLink",
            "name"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "id": "057210de-39f1-4b69-9e30-b6223aa8a6f4",
      "name": "List Files From Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "luNQOzK3RMAUxYG6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "703aca85-2eb6-4af1-8521-0b7f04e2b2c8",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.presentation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "presentation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "39e620f3-c849-40f3-a7e7-f843bda1c9be",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "spreadsheet"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        704,
        0
      ],
      "id": "774e042d-750e-4d64-b07c-b7107f1033d7",
      "name": "Document Selector"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain",
              "slidesToFormat": "application/vnd.oasis.opendocument.presentation"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        -80
      ],
      "id": "a2d91f7a-0c96-4102-99a3-0ef074635840",
      "name": "File Downloader",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "luNQOzK3RMAUxYG6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  // Get the input text\n  let text = item.json.data;\n  \n  // Remove any non-printable characters\n  text = text.replace(/[^\\x20-\\x7E\\n]/g, \"\");\n\n  // Remove any JSON-like structures\n  text = text.replace(/\\{[^}]*\\}/g, \"\");\n\n  // Remove multiple consecutive newlines\n  text = text.replace(/\\n{3,}/g, \"\\n\\n\");\n\n  // Trim whitespace from the beginning and end\n  text = text.trim();\n\n  // Split the text into words\n  const words = text.split(/\\s+/);\n\n  // Initialize an array to hold the chunks\n  const chunks = [];\n\n  // Split into chunks of approximately 1000 words\n  for (let i = 0; i < words.length; i += 1000) {\n    const chunk = words.slice(i, i + 1000).join(' ');\n    chunks.push(chunk);\n  }\n\n  // Set the resulting array to item.json.chatInput\n  item.json.chatInput = chunks;\n  // set the other data that we need\n  item.json.input_params =$('Webhook').first().json.body\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        64
      ],
      "id": "227bdb04-2010-4c9e-8344-932fc2f7d732",
      "name": "Split the text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e6a30857-39f4-4ee7-b325-5f6ef2e109be",
              "name": "body.systemPrompt",
              "value": "={{ $json.body.systemPrompt }}",
              "type": "string"
            },
            {
              "id": "da78bd09-7d24-4f0c-9827-cfb413173382",
              "name": "body.modelTemplate",
              "value": "={{ $json.body.modelTemplate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "d85803f0-8f72-4d37-bf1a-0c5274c6478c",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "slidesToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        112
      ],
      "id": "c0636675-0f10-4934-b2e2-ba39d88eff91",
      "name": "File Download As PDF",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "luNQOzK3RMAUxYG6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1280,
        192
      ],
      "id": "14231414-8755-42c7-9772-4e6e69dcd88a",
      "name": "Extract from PDF"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "sheetsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        288
      ],
      "id": "889654d8-cd36-4e1a-bdba-360e2f116bfe",
      "name": "Download Spreasheet as PDF",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "luNQOzK3RMAUxYG6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KqtnwZfiTHtPk6AX",
          "mode": "list",
          "cachedResultName": "Dataset Generator Sub Process"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1984,
        64
      ],
      "id": "7776cbd1-a823-4731-86f0-8ad4430569ae",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e99ddda-a817-46f6-ab0d-be68f33ddf1e",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "4142d90c-779a-44f4-bdd7-b8877f37991a",
              "name": "file_name",
              "value": "={{ $('List Files From Drive').item.json.name }}",
              "type": "string"
            },
            {
              "id": "7ed931d6-c0e4-44a7-9e10-e1c85b177664",
              "name": "input_params",
              "value": "={{ $('Webhook').item.json.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        64
      ],
      "id": "e1421940-6eb4-48bc-961f-90408cb0ca40",
      "name": "Merge Output"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1264,
        -80
      ],
      "id": "59a18e48-18e3-4fe0-8e86-c61e6f6ef66c",
      "name": "Extract from Text"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "List Files From Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Files From Drive": {
      "main": [
        [
          {
            "node": "Document Selector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Selector": {
      "main": [
        [
          {
            "node": "File Downloader",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File Download As PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Spreasheet as PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Downloader": {
      "main": [
        [
          {
            "node": "Extract from Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split the text": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "List Files From Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Download As PDF": {
      "main": [
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Merge Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Spreasheet as PDF": {
      "main": [
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Output": {
      "main": [
        [
          {
            "node": "Split the text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Text": {
      "main": [
        [
          {
            "node": "Merge Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6cfa02d6-0107-4bd0-a52e-98eeea8df881",
  "meta": {
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "qRL8eRlNubCH482y",
  "tags": []
}